<div class="jumbotron text-center" style="font-weight: bold; color: white; background-color: rgba(255, 255, 255, 0.5);background-image: url('../../../assets/images/00002154151.png'); background-size: 100%;">
	<h1>PAPYRUS GM</h1>
	<h3 class="lead ">Tools for game masters</h3>
	<div>
		<a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
	</div>

</div>

<div class="row">
	<div class="col-md-4 center-text">
		<h3>Create Role Playing Characters</h3>
		<p>Speed up character creating with digital character sheets for your game.</p>
	</div>
	<div class="col-md-4 center-text">
		<h3>Interactive Gameboard</h3>
		<p>Utilize a feature-full gameboard for game sessions.</p>
	</div>
	<div class="col-md-4 center-text">
		<h3>Social hub</h3>
		<p>Chat with other players.</p>
	</div>
</div>
<br>
<hr>
<div class="row">
	<div class="col-md-4 center-text">
		<h3>Express Backend</h3>
		<p>Served with NodeJS. Utilizing ES6 for setup and Database communication.</p>
	</div>
	<div class="col-md-4 center-text">
		<h3>Angular-CLI</h3>
		<p>Single Page Application, built with angular 4 and the angular-CLI webpack tool.</p>
	</div>
	<div class="col-md-4 center-text">
		<h3>JWT Tokens</h3>
		<p>Create accounts with hashed passwords with BcryptJS. Authenticate with PassportJS and JWT web tokens.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4 center-text">
		<h3>MongoDB</h3>
		<p>Store users and user character data.</p>
	</div>
	<div class="col-md-4 center-text">
		<h3>FabricJS</h3>
		<p>Draw and manipulate shapes on the gameboard canvas.</p>
	</div>
	<div class="col-md-4 center-text">
		<h3>Bootstrap</h3>
		<p>Clean, Responsive Styling.</p>
	</div>
</div>