<label>Name: </label>
  {{characters[0].name}}
  <br>

  <label>Concept</label>
  {{characters[0].characterConcept}}
    <br>

  <label>Stock: </label>
  {{characters[0].stock}}
  <br>

      <label>Lifepaths</label>
    <br>
  {{characters[0].lifepaths[0].lifepath}}
  <br>  {{characters[0].lifepaths[1].lifepath}}
  <br>  {{characters[0].lifepaths[2].lifepath}}
  <br>
  <br>

    <label>Beliefs</label>
    <br>
  {{characters[0].beliefs.belief1}}
  <br>  {{characters[0].beliefs.belief2}}
  <br>  {{characters[0].beliefs.belief3}}
  <br>


